* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.register h1 {
    text-align: center;
}
.register {
    width: 350px;
    background-color: rgb(223, 237, 243);
    font font-family: calibri;
    margin-top: 100px;
    margin: auto;
    padding: 20px;
}
.register p {
    margin: 5px;
}
.selec {
    font-size: 15px;
    width: 315px;
    padding: 15px;
}
.select {
    text-align: center;
}
.button {
    margin: auto;
    width: 80px;
    padding: 9px;
    border: white;
    border-radius: 5px;
    background-color: skyblue;
    
}